.container {
  max-width: 1680px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;

  @include mq-up(sm) {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include mq-up(md) {
    padding-right: 64px;
    padding-left: 64px;
    
    &--wide {
      padding-right: 32px;
      padding-left: 32px;
    }
  }

  @include mq-up(xl) {
    padding-right: 120px;
    padding-left: 120px;

    &--wide {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  @include mq-up(xxl) {
    padding-right: 200px;
    padding-left: 200px;

    &--wide {
      padding-right: 56px;
      padding-left: 56px;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  @each $bp, $gutter in $grid-gutters {
    @if bp == "xs" {
      margin-right: - $gutter / 2;
      margin-left: - $gutter / 2;
    } @else {
      @include mq-up($bp) {
        margin-right: - $gutter / 2;
        margin-left: - $gutter / 2;
      }
    }
  }

  &--horizontal-gutters {
    .col {
      @each $bp, $gutter in $grid-gutters {
        @if bp == "xs" {
          padding-bottom: $gutter;
        } @else {
          @include mq-up($bp) {
            padding-bottom: $gutter;
          }
        }
      }
    }
  }
}

.col {
  display: block;
  position: relative;
  min-height: 1px;

  @each $bp, $gutter in $grid-gutters {
    @if bp == "xs" {
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    } @else {
      @include mq-up($bp) {
        padding-right: $gutter / 2;
        padding-left: $gutter / 2;
      }
    }
  }
}

// Short mixing to creating classes for columns
@mixin create-cols($key, $grid-columns: $grid-columns) {
  @for $i from 1 through $grid-columns {
    .#{$key}-#{$i} {
      flex: 0 0 (100% / $grid-columns * $i);
      max-width: (100% / $grid-columns * $i);
    }

    .offset-#{$key}-#{$i} {
      margin-left: (100% / $grid-columns * $i);
    }
  }
}

@each $key, $width in $grid-breakpoints {
  @if $width == 0 {
    @include create-cols($key);
  } @else {
      @media (min-width: #{$width}) {
        @include create-cols($key);
      }
  }
}
