.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.staff {
}

.board {
  display: block !important; // Hidden in contentful in order to prevent duplication on current website

  @include mq-down(md) {
    td {
      display: block;
      padding: 0;

      &:last-child {
        margin-bottom: 1.4em;
      }
    }
  }

  @include mq-up(md) {
    td {
      padding-right: 1.4em;
    }
  }
}
