.content {
  &__white-wrapper {
    background-color: white;
    color: #08031e;
    padding-bottom: 200px; // TODO: responsive
  }
}

.content::before {
	// TODO: Reuse from Hero
	// TODO: Add responsive background images
	background: url('/static/images/hero-bg.jpg') no-repeat center center / cover;

	// TODO: spacing should always be the same as header height
	padding: 150px 0 90px 0; // 150px for header navigation

	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  bottom: 100px;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s .2s ease;
}

.content--loading::before {
	opacity: 1;
}

// TODO: Add responsive behaviour
.content-title {
  margin: 0 0 55px;

  &__title {
    margin: 0;
    font-size: 42px;
    font-weight: $font-weight-normal;
  }

  &__subtitle {
    margin: 10px 0 0;
    font-size: $font-size-regular;
    font-weight: $font-weight-normal;
    color: #b3b3bc;
  }
}
