@keyframes moveIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes moveOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

.hero {
  height: auto;
  padding: 90px 0 0;

  &__container {
    height: 100%;
  }

  &__row {
    height: 100%;
  }

  &__col {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__inner {
    display: block;
    padding-top: 30px;
    padding-bottom: 100px;
  }

  &__title-wrapper {
    position: relative;
  }

  &__title {
    @include textGradient;
    font-weight: normal;
    letter-spacing: #{- (1em / 20em)}em;
    margin: 0 0 40px;
    animation: moveIn 1s;

    @include fontSizeAndLineHeight(
      pxToRem(35),
      pxToRem(40),
      pxToRem(55),
      pxToRem(75),
      pxToRem(95),
      pxToRem(120),
      pxToRem(137)
    );
  }

  &__title--out {
    position: absolute;
    left: 0;
    top: 0;
    animation: moveOut 1s;
  }

  &__lead {
    opacity: 0.6;
    font-size: 18px;
    line-height: 1.67;
  }

  &__ctas-wrapper {
    padding-bottom: 40px;
  }

  &__cta {
    @include buttonBig;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @include mq-up(rg) {
    height: auto;
    padding: 130px 0 0;

    &__ctas-wrapper {
      padding-bottom: 65px;
    }
  }

  @include mq-up(md) {
    padding: 150px 0 0;
    height: calc(100vh - 300px);
    min-height: 700px;

    &__lead {
      font-size: 24px;
    }

    &__inner {
      padding-top: 70px;
    }

    &__title {
      margin: 0 0 76px;
    }

    &__ctas-wrapper {
      padding-bottom: 90px;
    }

    &__cta {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }
  }

  @include mq-up(lg) {
    min-height: 1000px;

    &__inner {
      padding-top: 110px;
    }

    &__title {
      margin: 0 0 76px;
    }
  }
}

.hero--content {
  padding: 0;
  height: 88px;
  min-height: inherit;

  & .hero {
    &__inner {
      display: none;
    }
  }

  @include mq-up(md) {
    height: 128px;
  }

  @include mq-up(lg) {
    height: 150px;
  }
}
