.scene {
  height: 100vh;
  z-index: -1;
  position: fixed;
  display: block;
  width: 100vw;
}

.hero-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: center bottom;
    height: 100%;
    width: 100%;
  }

  &__image-mobile {
    display: block;
    @include mq-up(md) {
      display: none;
    }
  }

  &__image-desktop {
    display: none;
    @include mq-up(md) {
      display: block;
    }
  }

  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $offblack;
    opacity: 0;
    z-index: 1;
  }

  &__image-wrapper video {
    transition: opacity 500ms ease;
  }
}

.hero-bg--content {
  position: absolute;
  padding: 0;
  height: 88px;

  @include mq-up(md) {
    height: 128px;
  }

  @include mq-up(lg) {
    height: 150px;
  }
}
