.hero {
  // TODO: Add responsive background images
  // background: url("/static/images/hero-bg.jpg") no-repeat center center / cover;

  // TODO: spacing should always be the same as header height
  padding: 150px 0 90px 0;
  height: calc(100vh - 100px); // TODO: Adapt vor smaller breakpoints

  &__container {
    // height: 100%;
  }

  &__row {
    // height: 100%;
  }

  &__col {
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }

  &__inner {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    @include textGradient;
    font-size: 50px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: -1.8px;
    margin: 0 0 100px;

    @include mq-up(md) {
      font-size: 139px;
      letter-spacing: -5px;
    }
  }

  &__lead {
    opacity: 0.6;
    font-size: 18px;
    line-height: 1.67;
  }

  &__cta {
    @include buttonBig;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &--list {
    height: auto;
    padding: 90px 0 0;

    .hero__inner {
      display: block;
      padding-top: 30px;
      padding-bottom: 100px;
    }

    .hero__title {
      margin: 0 0 40px;
    }
  }

  @include mq-up(rg) {
    &__title {
      font-size: 90px;
    }

    &--list {
      height: auto;
      padding: 130px 0 0;
    }
  }

  @include mq-up(md) {
    &__cta {
      &:not(:last-child) {
        margin-right: 25px;
      }
    }

    &__lead {
      font-size: 24px;
    }

    &--list {
      padding: 150px 0 0;
      height: calc(100vh - 300px);
      min-height: 800px;

      .hero__inner {
        padding-top: 70px;
      }

      .hero__title {
        margin: 0 0 76px;
      }
    }
  }

  @include mq-up(lg) {
    &__title {
      font-size: 139px;
      letter-spacing: -5px;
    }

    &--list {
      .hero__inner {
        padding-top: 110px;
      }

      .hero__title {
        margin: 0 0 76px;
      }
    }
  }
}

.hero--content {
  padding: 0;
  height: 88px;

  & .hero {
    &__inner {
      display: none;
    }
  }

  @include mq-up(md) {
    height: 128px;
  }

  @include mq-up(lg) {
    height: 150px;
  }
}
