.restaurants {
  @extend %default-module-spacer;

  &__title {
    @extend %summary-title;
    color: $offblack;
  }

  &__list {
    margin: 50px 0 0;
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: $font-size-bigger-small;
    line-height: 1.27;
    color: $link-color;
    transition: color $transition-time-simple $transition-easing-default;
    margin: 0 0 70px;

    &:hover,
    &:focus {
      color: $link-hover-color;

      .restaurants__image {
        @extend %link-image-hover;
      }
    }
  }

  &__image-wrapper {
    @extend %image-background;
    margin-bottom: 25px;
  }

  &__image {
    @extend %image-skew;
    @extend %link-image;
    padding-top: 75%;
  }

  &__name {
    font-size: 26px;
    margin: 0 0 15px;
  }

  &__description {
    color: $offblack;
  }
}
