.speakers-list {
  margin: 50px 0;

  &__col {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    // TODO: handle responsiveness
    &:nth-child(3n + 1) {
      margin-top: 70px;
    }

    &:nth-child(3n + 2) {
      margin-top: 150px;
    }
  }

  &__speaker {
    flex: 0 1 240px;
    max-width: calc(100% - 40px);
  }

  @include mq-up(md) {
    &__col {
      margin-bottom: 40px;
  
      // TODO: handle responsiveness
      &:nth-child(3n + 1) {
        margin-top: 70px;
      }
  
      &:nth-child(3n + 2) {
        margin-top: 150px;
      }
    }
  }
}
