
.speaker {
  flex: 1;
  text-decoration: none;
}

.speaker__image-wrapper {
  background-blend-mode: color;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), #00fff8);
  width: 294px;
  height: 395px;

  img {
    transform: rotate(-5deg);
    filter: grayscale(100%);
    opacity: 0.9;
    transition: opacity .2s ease, transform .2s ease, filter .2s ease;
  }
}

.speaker:hover {
  img {
    transform: rotate(0);
    filter: grayscale(0);
    opacity: 1;
  }
}

.speaker__name {
    margin-top: 45px;
	font-size: 28px;
	@include textGradient();
}

.speaker__position {
  margin-top: 10px;
  color: #b3b3bc;
  font-size: 13px;
}