.speakers-list {
  margin: 50px 0;

  &__col {
    margin-bottom: 40px;

    // TODO: handle responsiveness
    &:nth-child(3n + 1) {
      margin-top: 70px;
    }

    &:nth-child(3n + 2) {
      margin-top: 150px;
    }
  }
}
