.speakers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speakers-list__item--0 {
  margin-top: 80px;
}

.speakers-list__item--1 {
  margin-top: 160px;
}

.speakers-list__item--2 {
  margin-top: 0;
}