.sponsor-category {
  margin: 0 0 35px;
}

@media (min-width: 768px) {
  .sponsor-category {
    margin: 0 0 90px;
  }
}

.sponsor-category h3,
.newsletter h3 {
  @include textGradient();
  font-weight: 400;
  margin: 0 0 30px;
}

.sponsor-category h3 {
  font-size: 28px;
  text-transform: uppercase;
}

.sponsor-category__item {
  display: flex;
  flex: 0 0 33.3333%;
}

@media (min-width: 500px) {
  .sponsor-category__item {
    flex: 0 0 124px;
  }
}

.sponsor-category__item-link {
  display: flex;
  background-color: #342e46;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  min-height: 63px;
  width: 100%;
}

.sponsor-category__item-svg {
  display: inline-flex;
  flex-direction: column;
}

.sponsor-category__item-img {
  max-width: 100%;
}
