.sponsor-category {
  margin: 0 0 35px;
  flex: 1;
}

@media (min-width: 768px) {
  .sponsor-category {
    margin: 0 0 90px;
  }
}

.sponsor-category h3 {
  @include textGradient();
  font-weight: 400;
  margin: 0 0 30px;
  font-size: 28px;
  text-transform: uppercase;
}

.sponsor-category__item {
  display: flex;
  flex: 0 0 33.3333%;
}

@media (min-width: 500px) {
  .sponsor-category__item {
    flex: 0 0 124px;
  }
}
