.sponsor {
  &--logo {
    display: flex;
    background-color: rgba($white, 0.05);
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-top: 0;
    padding: 10%;
    aspect-ratio: 1/1;
    align-items: center;

    .sponsor__svg {
      fill: $white;
      opacity: 0.8;
      transition: opacity $transition-time-simple $transition-easing-default;
      margin: auto;
    }

    &:hover,
    &:focus {
      .sponsor__svg {
        opacity: 1;
      }
    }
  }

  &:not(&--logo) {
    background: #fff; // Temporary since the container should be white instead
    color: $offblack;
    border-top: 1px solid #9b9ba3;
    padding-top: 72px;
    padding-bottom: 56px;

    .sponsor__logo {
      max-width: 80%;
    }

    .sponsor__img {
      display: block;
      width: 100%;
      height: auto;
    }

    .sponsor__svg {
      fill: $offblack;
    }

    @include mq-down(rg) {
      padding-top: 30px;
      padding-bottom: 30px;

      .sponsor__logo {
        margin-bottom: 40px;
      }
    }
  }
}

.sponsor__logo {
  display: flex;
  flex-direction: column;
}

.sponsor__svg {
  display: inline-flex;
  flex-direction: column;

  svg {
    width: 100%;
    height: 100%;
  }
}

.sponsor__img {
  max-width: 100%;
}

.sponsor__title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.sponsor__links {
  margin-top: 33px;
}
