.workshop {
  &__teacher-name {
    font-weight: normal;
    margin-bottom: 10px;
  }

  &__teacher-company,
  &__teacher-role {
    @include textSubline;
    margin-bottom: 8px;
  }

  &__teacher-company {
    text-transform: uppercase;
  }

  &__teacher-role {
    text-transform: initial;
    opacity: 0.8;
    margin-bottom: 20px;
  }
}
