.menu {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    &-item {
      list-style: none;
      flex: 0 0 50%;
    }
  }

  &__link {
    display: block;
    font-size: 12px;
    letter-spacing: 0.9px;
    text-align: center;
    color: #b3b3bc;
    text-transform: uppercase;
    text-decoration: none;
  }

  &--main,
  &--social {
    .menu__link {
      display: block;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 1px;
      color: #b3b3bc;
      text-transform: uppercase;
      text-decoration: none;
      padding: 6px 0;
      text-align: left;
      transition: color $transition-time-simple $transition-easing-default;

      &:hover,
      &:focus {
        color: white;
      }
    }
  }
}
