.speakers-list {
  margin: 50px 0;

  &__col {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;

    &:nth-child(2n + 1) {
      .speakers-list__speaker {
        margin-right: 10px;
      }
    }

    &:nth-child(2n) {
      .speakers-list__speaker {
        margin-left: 10px;
      }
    }
  }

  &__title {
    @extend %summary-title;
  }

  &__speaker {
    flex: 0 1 240px;
  }

  &__link {
    @include buttonBig;
    display: inline-block;
    margin-top: 40px;
  }

  @include mq-up(sm) {
    &__speaker {
      flex: 0 1 240px;
    }

    &__col {
      &:nth-child(2n + 1) {
        .speakers-list__speaker {
          margin-right: 15px;
        }
      }

      &:nth-child(2n) {
        .speakers-list__speaker {
          margin-left: 15px;
        }
      }
    }
  }

  @include mq-up(rg) {
    &__speaker {
      flex: 0 1 240px;
    }

    &__col {
      &:nth-child(2n + 1) {
        .speakers-list__speaker {
          margin-right: 20px;
        }
      }

      &:nth-child(2n) {
        .speakers-list__speaker {
          margin-left: 20px;
        }
      }
    }
  }

  @include mq-up(md) {
    &__col {
      margin-bottom: 40px;

      // TODO: handle responsiveness
      &:nth-child(3n + 1) {
        margin-top: 70px;
      }

      &:nth-child(3n + 2) {
        margin-top: 150px;
      }

      &:nth-child(3n) {
        margin-top: 0;
      }

      &:nth-child(2n + 1) {
        .speakers-list__speaker {
          margin-right: 0;
        }
      }

      &:nth-child(2n) {
        .speakers-list__speaker {
          margin-left: 0;
        }
      }
    }

    &__speaker {
      max-width: calc(100% - 40px);
      flex: 0 1 290px;
    }
  }
}
