
.speaker {
  display: block;
  text-decoration: none;

  &__image-wrapper {
    @include gradient;
    background-blend-mode: color;
    margin-bottom: 25px;
  }

  &__image {
    display: block;
    max-width: 100%;
    transform: rotate(-5deg);
    filter: grayscale(100%);
    opacity: 0.9;
    transition: opacity $transition-time-simple $transition-easing-default,
      transform $transition-time-simple $transition-easing-default,
      filter $transition-time-simple $transition-easing-default;
  }

  &__name {
    @include textGradient;
    font-size: 18px;
    line-height: 1;
    margin: 0 0 5px;
  }

  // TODO: Refactor with variables & cleanup
  &__description {
    font-size: $font-size-tiny;
    color: #b3b3bc;
    text-transform: uppercase;
    margin: 0;
  }

  &:hover,
  &:focus {
    .speaker__image {
      transform: rotate(0);
      filter: grayscale(0);
      opacity: 1;
    }
  }

  @include mq-up(rg) {
    &__image-wrapper {
      margin-bottom: 50px;
    }

    &__name {
      font-size: 28px;
      margin: 0 0 15px;
    }
  
    &__description {
      font-size: $font-size-small;
    }
  }
}
