@import "./components/FooterMenu";
@import "./components/Newsletter";

.footer {
  position: relative;
  padding: 35px 0;
  background-color: #1e1732;
  z-index: 2;

  &__newsletter,
  &__ctas,
  &__menus {
    margin: 0 0 50px;
  }

  @include mq-up(md) {
    padding: 54px 0 50px;

    &__ctas-col {
      order: 1;
    }
    &__menus-col {
      order: 2;
    }
    &__newsletter-col {
      order: 3;
    }
  }
}

// TODO: refactor to its own component
.sponsors {
  margin: 0 0 35px;
}

@media (min-width: 768px) {
  .sponsors {
    margin: 0 0 90px;
  }
}

.sponsors h3,
.newsletter h3 {
  @include textGradient();
  font-weight: 400;
  margin: 0 0 30px;
}

.sponsors h3 {
  font-size: 28px;
  text-transform: uppercase;
}

.sponsors__item {
  display: flex;
  flex: 0 0 33.3333%;
}

@media (min-width: 500px) {
  .sponsors__item {
    flex: 0 0 124px;
  }
}

.sponsors__item-link {
  display: flex;
  background-color: #342e46;
  padding: 10px;
  justify-content: center;
  flex-direction: column;
  min-height: 63px;
  width: 100%;
}

.sponsors__item-svg {
  display: inline-flex;
  flex-direction: column;
}

.sponsors__item-img {
  max-width: 100%;
}

// Refactor to its own component
.ctas__link {
  @include button;
  @include mq-up(md) {
    margin-bottom: 10px;
  }
}

// TODO: Alignment of text and the links is shifting by 1px -> should be corrected to have no shift
// TODO: Refactor to its own component
.copyright {
  display: flex;
  justify-content: space-between;

  &__text {
    font-size: 12px;
    letter-spacing: 0.9px;
    text-align: center;
    color: #b3b3bc;
    opacity: 0.5;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1;
  }

  @include mq-up(md) {
    justify-content: center;

    &__text {
      margin-right: 40px;
    }
  }
}
