@import "./components/FooterMenu";
@import "./components/Newsletter";
@import "./components/SocialIcons";

.footer {
  position: relative;
  padding: 35px 0;
  background-color: #1e1732;
  z-index: 2;

  &__newsletter,
  &__ctas,
  &__menus {
    margin: 0 0 50px;
  }

  @include mq-up(md) {
    padding: 54px 0 50px;

    &__ctas-col {
      order: 1;
    }
    &__menus-col {
      order: 2;
    }
    &__newsletter-col {
      order: 3;
    }
  }
}

// Refactor to its own component
.ctas__link {
  @include button;
  @include mq-up(md) {
    margin-bottom: 10px;
  }
}

// TODO: Alignment of text and the links is shifting by 1px -> should be corrected to have no shift
// TODO: Refactor to its own component
.copyright {
  display: flex;
  justify-content: space-between;

  &__text {
    font-size: 12px;
    letter-spacing: 0.9px;
    text-align: center;
    color: #b3b3bc;
    opacity: 0.5;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.1;
  }

  @include mq-up(md) {
    justify-content: center;

    &__text {
      margin-right: 40px;
    }
  }
}
