
@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

// TODO: Refactor with variables
@mixin gradient {
  background-image: linear-gradient(
    to right,
    rgba($white, 0.7),
    $primary
  );
}

@mixin textGradient {
  @include gradient;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@mixin textSubline {
  font-size: 13px; // TODO: Font-size into variable
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9b9ba3; // TODO: Colors
  text-transform: uppercase;
}

// TODO: Refactor with variables
// TODO: Add hover animation
@mixin button {
  @include gradient;
  display: block;
  font-size: 13px; // TODO: Font-size into variable
  text-align: center;
  color: #09001f; // TODO: Colors
  padding: 13px 15px 11px;
  border-radius: 100px;
  text-transform: uppercase;
  line-height: 1.1;
  border: 0 none;
  text-decoration: none;
  cursor: pointer;
}

@mixin buttonBig {
  @include button;
  font-size: 13px;
  padding: 13px 15px 11px;

  @include mq-up(md) {
    font-size: 15px;
    padding: 23px 30px 21px;
  }
}

@mixin mq-up($breakpoint) {
  @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin mq-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
