@import "functions";
@import "variables";
@import "mixins";
@import "placeholders";

@import "../components/App";
@import "../components/shared/Grid";
@import "../components/Image";
@import "../components/Content";
@import "../components/Hero";
@import "../components/HeroBG";
@import "../components/ErrorMessage";
@import "../components/footer/Footer";
@import "../components/Header";
@import "../components/Jobs";
@import "../components/NewsList";
@import "../components/NewsSummary";
@import "../components/speaker/SpeakerLink";
@import "../components/speaker/SpeakersList";
@import "../components/VenueTeaser";
@import "../components/Backlink";
@import "../components/Socials";
@import "../components/Sponsor";
@import "../components/SponsorCategory";
@import "../components/Sponsors";
@import "../components/HotelsList";
@import "../components/RestaurantsList";
@import "../components/About";
@import "../components/CookieBanner";
@import "../components/Workshops";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 70px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  // Temporarily necessary
  display: flex;
  flex: 0 0 100%;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}

.visuallyhidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
