@import "functions";
@import "variables";
@import "mixins";
@import "placeholders";

@import "../components/App";
@import "../components/shared/Grid";
@import "../components/Image";
@import "../components/Content";
@import "../components/Hero";
@import "../components/HeroBG";
@import "../components/ErrorMessage";
@import "../components/footer/Footer";
@import "../components/Header";
@import "../components/Jobs";
@import "../components/NewsList";
@import "../components/NewsSummary";
@import "../components/speaker/SpeakerLink";
@import "../components/speaker/SpeakersList";
@import "../components/VenueTeaser";
@import "../components/Backlink";
@import "../components/Socials";
@import "../components/Sponsor";
@import "../components/SponsorCategory";
@import "../components/Sponsors";
@import "../components/HotelsList";
@import "../components/RestaurantsList";
@import "../components/About";
@import "../components/Workshops";
@import "../components/Workshop";
@import "../components/Talks";
@import "../components/Schedule";
@import "../components/Form";
@import "../components/AirtableForm";

.js-only {
  .no-js & {
    display: none;
  }
}
.no-js-only {
  display: none;

  .no-js & {
    display: block;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 70px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;

  // Temporarily necessary
  display: flex;
  flex: 0 0 100%;

  // Don't hide elements when JS is disabled, otherwise they're not visible at all
  .no-js & {
    opacity: 1 !important;
  }
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@media (print), (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}

.visuallyhidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
